*{
  padding: 0;
  margin: 0;
}
.opcionesPizza{
    display: flex;
    width: 1fr;
    gap: 1rem;
    list-style-type: none;
  } 
  .pizzaCarrito{
    width: 100%;
  }
  .contenedorView, .contenedorPizza {
    background: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px black;
    width: 100%;
    min-height: 100vh;
    overflow-y: auto;
  }  
  h1 {
    margin-bottom: 2rem;
  }

  .Form .form-group {
    width: 100%;
    max-width: 500px;
    margin-bottom: 1rem;
  }
  
  .Button {
    width: 100%;
    max-width: 500px;
    padding: 0.75rem;
  }
  
  .textoError {
    color: #dc3545;
    margin-top: 1rem;
  }